@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

div#container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 16px 64px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav > h2 {
  display: flex;
  align-items: center;
}

nav > h2 > a {
  text-decoration: none;
  color: inherit;
}

nav > h2 > span {
  margin-left: 0.5em;
}

nav > img {
  height: 48px;
}

.wrapper {
  width: 60%;
  margin: 0 auto;
  margin-top: 2em;
}

.pills {
  display: flex;
  width: 100%;
}

.pill {
  background-color: #eeeeee;
  border-radius: 0.5rem;
  padding: 0.4rem 1rem;
  margin-right: 0.5rem;
}

.pill h6 {
  text-transform: uppercase;
  font-size: 0.6em;
  font-weight: 700;
}

.pill p {
  margin-top: 0.3em;
}

video {
  width: 100%;
  border-radius: 1em;
  margin: 1em 0;
  margin-bottom: 2em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

div.buttons {
  grid-auto-flow: dense;
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr 1fr;
}

button {
  cursor: pointer;
  color: #f9564f;
  background-color: rgba(249, 86, 79, 0.2);
  border-radius: 0.3em;
  border: none;
  font-size: 1em;
  padding: 0.4em 0.8em;
}

footer {
  position: fixed;
  bottom: 4px;
  left: 0;
  right: 0;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #f9564f;
}

@media screen and (max-width: 800px) {
  .wrapper {
    width: 100%;
  }
}
